#home.content.active{
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    min-height: calc(100vh - 120px);
    overflow: hidden;
}

.img-container{
    width: min(80vw, 320px);
    height: min(80vw, 320px);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container::before, .img-container::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: conic-gradient(transparent, transparent, transparent, var(--green));
    animation: revolve 4s linear infinite;
}

.img-container::after{
    animation-delay: 2s;
}

@keyframes revolve{
    from{
        transform: rotate(0deg);
    } to{
        transform: rotate(360deg);
    }
}


.img-container img{
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    max-width: 700px;
    width: 100%;
}

.details h2{
    font-size: 2.5rem;
    line-height: 1.1;
    white-space: nowrap;
}

.details h2 span{
    background: linear-gradient(to right, var(--green), var(--white));
    padding-bottom: 2px;
    border-bottom: 5px solid var(--green);
    color: transparent;

    -webkit-background-clip: text;
}

.details h3{
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.details h3 span{
    color: var(--green);
    display: inline-block;
    min-width: 130px;
    overflow: hidden;
    white-space: nowrap;
}

.details h3 span::after{
    content: "|";
    margin-left: 5px;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink{
    0%, 100%{
        opacity: 1;
    } 50%{
        opacity: 0;
    }
}

.details p{
    font-size: 1.3rem;
    text-align: justify;
}

.bottom{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.bottom button{
    width: 12rem;
    padding: 0.8rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--green);
    cursor: pointer;
    border: none;
    transition: all ease 0.3s;
}

.bottom button:hover{
    box-shadow: 3px 3px 3px var(--green), 
    -3px 3px 3px var(--green), 
    3px -3px 3px var(--green), 
    -3px -3px 3px var(--green);
}

.social-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2.5rem;
}

.social-icons a{
    color: var(--white);
    transition: all ease 0.3s;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.social-icons a i{
    font-size: 3.9rem;
}

.social-icons a:hover{
    color: var(--green);
    scale: 105%;
}

@media screen and (min-width: 768px){

    #home.content.active{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        width: 100%;
    }

    .details{
        flex: 1;
        min-width: 0;
        max-width: 60%;
    }

    .details h2{
        font-size: clamp(3rem, 5vw, 5rem);
        line-height: 1.1;
    }

    .social-icons{
        font-size: 3rem;
    }

    .bottom{
        flex-direction: row;
        gap: 20px;
    }

    .bottom button{
        border-radius: 50px;
        width: 12rem;
        padding: 0.8rem 0;
        font-size: 1.3rem;
        font-weight: 100;
    }

    .details h3{
        font-size: 2.5rem;
    }

    .details p{
        font-size: 1.1rem;
    }

    .img-container{
        width: 375px;
        height: 375px;
        flex-shrink: 0;
        margin-left: auto;
    }

    
}

@media screen and (width>=1024px) {
    #home.content.active{
        margin: 3rem auto;
    }

    .img-container{
    width: min(35vw, 400px);
    height: min(35vw, 400px);
    }

    .details{
        gap: 30px;
    }

    .details h2{
        font-size: clamp(4rem, 6vw, 6rem);
    }

    .details h3{
        font-size: 2.8rem;
    }

    .details p{
        font-size: 1.6rem;
    }
}

