.home{
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    min-height: calc(100vh - 120px);
    overflow: hidden;
}

.img-container{
    width: min(80vw, 320px);
    height: min(80vw, 320px);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container::before, .img-container::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: conic-gradient(transparent, transparent, transparent, var(--green));
    animation: revolve 4s linear infinite;
}

.img-container::after{
    animation-delay: 2s;
}

@keyframes revolve{
    from{
        transform: rotate(0deg);
    } to{
        transform: rotate(360deg);
    }
}


.img-container img{
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    max-width: 700px;
    width: 100%;
}

.details h2{
    font-size: 2.5rem;
    line-height: 1.1;
    white-space: nowrap;
}

.details p{
    font-size: 1.3rem;
    text-align: justify;
}

@media screen and (min-width: 768px){

    .home{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        width: 100%;
    }

    .details{
        flex: 1;
        min-width: 0;
        max-width: 60%;
    }

    .details h2{
        font-size: clamp(3rem, 5vw, 5rem);
        line-height: 1.1;
    }

    .details p{
        font-size: 1.1rem;
    }

    .img-container{
        width: 375px;
        height: 305px;
        flex-shrink: 0;
        margin-left: auto;
    }
}

@media screen and (width>=1024px) {
    .home{
        margin: 3rem auto;
    }

    .img-container{
    width: min(35vw, 400px);
    height: min(35vw, 400px);
    }

    .details{
        gap: 30px;
    }

    .details h2{
        font-size: clamp(4rem, 6vw, 6rem);
    }

    .details p{
        font-size: 1.6rem;
    }
}

