@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primary: #030a16;
    --secondary: #323946;
    --disabled: #fff3;
    --green: #7cf03d;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body, html{
    background: var(--primary);
    color: var(--white);
    min-height: 100dvh;
    overflow-x: hidden;
}

.main-container{
    max-width: 700px;
    padding: 1rem;
    margin: 0 auto;
    border: 2px solid red;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 1rem 0;
}

.brand-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-info img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.brand-info h2{
    font-size: 1.7rem;
    font-weight: 800;
}

#menu-toggle{
    display: none;
}

.menu-icon{
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
}

#overlay{
    display: none;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}